
@{
    ViewBag.Title = "用户的爱车";
    Layout = "~/Views/LayoutPage.cshtml";
}
@using com.jiechengbao.admin.Models

<link href="~/Content/css/content.css" rel="stylesheet" />
<style>
    .title {
        margin: 20px 15px 10px;
        color: #6d6d72;
        font-size: 15px;
        text-align: center;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/">管理后台</a></li>
            <li class="active">客户爱车列表</li>
        </ol>

        <div class="navbar navbar-options">
            <div class="container-fluid">
                <form class="navbar-form navbar-left" method="post" action="/Car/List" role="search">
                    <div class="form-group">
                        <input type="text" name="condition" class="form-control" placeholder="搜索">
                    </div>
                    <button type="submit" class="btn btn-danger">搜索</button>
                </form>
            </div>
        </div>

        <div class="container-fluid">
            <div class="col-md-12 div-title">
                <ol class="breadcrumb">
                    <li>用户的爱车列表</li>
                </ol>
            </div>
            @if (ViewData["CarList"] != null && (ViewData["CarList"] as IEnumerable<CarModel>).Count() > 0)
            {
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>用户昵称</th>
                            <th>用户手机</th>
                            <th>车牌号</th>
                            <th>车架号</th>
                            <th>发动机号</th>
                            <th>车型信息</th>
                            <th>绑定时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewData["CarList"] as List<CarModel>)
                {
                            <tr>
                                <td><img src="@item.MemberImagePath" />@item.MemberName</td>
                                <td>@item.Phone</td>
                                <td>@item.Numberplate</td>
                                <td>@item.ChassisNumber</td>
                                <td>@item.EngineNumber</td>
                                <td>@item.CarDetailInfo</td>
                                <td>@item.CreatedTime</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="title">尚无用户绑定车辆信息</div>
            }
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $("#li-car").addClass("a-active");
        //$("#li-car").parent().parent().removeClass("collapse");
    })
</script>