
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/LayoutPage.cshtml";
}
<link href="~/Content/css/content.css" rel="stylesheet" />
<style>
    #img-upload {
        max-width: 128px !important;
        max-height: 128px !important;
    }

    .input-group-addon {
        background-color: #337ab7;
        color: #fff;
    }

    .form-group {
        padding-left: 5px;
    }

        .form-group input, .form-group textarea {
            border-radius: 3px !important;
        }

            .form-group input[type='text'], .form-group input[type='file'] {
                max-width: 250px;
            }

    textarea {
        max-width: 450px;
        min-height: 150px;
        resize: none;
    }
    .container-fluid{
        padding-left:15px;
    }
    .over {
        max-height:600px !important;
    }
</style>
@using com.jiechengbao.admin.Models
@using com.jiechengbao.entity

<ol class="breadcrumb">
    <li><a href="/Home/Index">管理后台</a></li>
    <li class="active">添加商品</li>
</ol>
<div class="container-fluid">
    <div class="col-md-12 title">
        添加商品
    </div>
</div>
<div class="container-fluid">
    @if (!string.IsNullOrEmpty(ViewBag.Msg))
    {
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert">×</a>
            @ViewBag.msg
        </div>
    }
    <form class="over">
        <div class="form-group">
            <label>商品名</label>
            <input type="text" name="Name" placeholder="商品名" class="form-control" value="" required data-bv-notempty-message="商品名不能为空" />
        </div>
        <div class="form-group">
            <label>商品单价</label>
            <input type="text" name="Price" placeholder="商品单价" class="form-control" value="" required pattern="^\d+(\.\d+)?$" data-bv-regexp-message="必须是大于零的数字" data-bv-notempty-message="商品单价不能为空" />
        </div>
        <div class="form-group">
            <label>商品原价</label>
            <input type="text" name="OriginalPrice" placeholder="商品原价" class="form-control" value="" pattern="^\d+(\.\d+)?$" data-bv-regexp-message="必须是大于零的数字" required data-bv-notempty-message="商品原价不能为空" />
        </div>
        <div class="form-group">
            <label>兑换积分</label>
            <input type="text" name="ExchangeCredit" placeholder="兑换积分" class="form-control" value="" pattern="^\d+(\.\d+)?$" data-bv-regexp-message="必须是大于零的数字" required data-bv-notempty-message="兑换积分不能为空" />
        </div>
        <div class="form-group">
            <label>商品描述</label>
            <textarea class="form-control" name="Description" placeholder="商品描述" required data-bv-notempty-message="商品描述不能为空"></textarea>
        </div>
        <div class="form-group">
            <label>商品图片</label>
            <img id="img-upload" />
            <input type="hidden" id="PicturePath" name="PicturePath" value="" required data-bv-notempty-message="请上传商品图片" />
            <input type="file" class="form-control" placeholder="商品图片" id="picture">
        </div>
        <div class="form-group">
            <label>商品分类</label>
            <br />
            @foreach (var item in ViewData["CategoryList"] as IEnumerable<Category>)
            {
                <label class="checkbox-inline">
                    <input type="checkbox" value="@item.CategoryNO">@item.Name
                </label>
            }
        </div>
        <div class="form-group">
            <label>服务次数</label>
            <input type="text" name="ServiceCount" class="form-control" value="0" pattern="^\d+$" data-bv-regexp-message="必须是大于等于零的整数" required data-bv-notempty-message="服务次数不能为空" />
        </div>
        <div class="form-group">
            <input type="button" name="btn-AddGoods" class="btn btn-danger" value="录入商品" />
        </div>
    </form>
</div>


@*<div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/Home/Index">管理后台</a></li>
                <li class="active">添加商品</li>
            </ol>

            <div class="container-fluid">
                <div class="col-md-12 div-title">
                    <ol class="breadcrumb">
                        <li>添加商品</li>
                    </ol>
                </div>
                @*

                <form>
                    <div class="form-group">
                        <label>商品名</label>
                        <input type="text" name="Name" placeholder="商品名" class="form-control" value="" required data-bv-notempty-message="商品名不能为空" />
                    </div>


                    <div class="form-group">
                        <label>商品单价</label>
                        <input type="text" name="Price" placeholder="商品单价" class="form-control" value="" required pattern="^\d+(\.\d+)?$" data-bv-regexp-message="必须是大于零的数字" data-bv-notempty-message="商品单价不能为空" />
                    </div>


                    <div class="form-group">
                        <label>商品原价</label>
                        <input type="text" name="OriginalPrice" placeholder="商品原价" class="form-control" value="" pattern="^\d+(\.\d+)?$" data-bv-regexp-message="必须是大于零的数字" required data-bv-notempty-message="商品原价不能为空" />
                    </div>

                    <div class="form-group">
                        <label>兑换积分</label>
                        <input type="text" name="ExchangeCredit" placeholder="兑换积分" class="form-control" value="" pattern="^\d+(\.\d+)?$" data-bv-regexp-message="必须是大于零的数字" required data-bv-notempty-message="兑换积分不能为空" />
                    </div>

                    <div class="form-group">
                        <label>商品描述</label>
                        <textarea class="form-control" name="Description" placeholder="商品描述" required data-bv-notempty-message="商品描述不能为空"></textarea>
                    </div>
                    <div class="form-group">
                        <label>商品图片</label>
                        <img id="img-upload" />
                        <input type="hidden" id="PicturePath" name="PicturePath" value="" required data-bv-notempty-message="请上传商品图片" />
                        <input type="file" class="form-control" placeholder="商品图片" id="picture">
                    </div>
                    <div class="form-group">
                        <label>商品分类</label>
                        <br />
                        @foreach (var item in ViewData["CategoryList"] as IEnumerable<Category>)
                        {
                            <label class="checkbox-inline">
                                <input type="checkbox" value="@item.CategoryNO">@item.Name
                            </label>
                        }
                    </div>
                    <div class="form-group">
                        <label>服务次数</label>
                        <input type="text" name="ServiceCount" class="form-control" value="0" pattern="^\d+$" data-bv-regexp-message="必须是大于等于零的整数" required data-bv-notempty-message="服务次数不能为空" />
                    </div>
                    <div class="form-group">
                        <input type="button" name="btn-AddGoods" class="btn btn-danger" value="录入商品" />
                    </div>
                </form>
            </div>
        </div>
    </div>*@

<script>
    var categoryList = new Array();

    $("input[type='file']").on('change', function () {
        Upload();
    })

    function Upload() {
        var form = new FormData();
        form.append("file", document.getElementById("picture").files[0]);

        $.ajax({
            url: "/Goods/Upload",
            type: "POST",
            data: form,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data == "False") {
                    alert("上传失败");
                }
                else {
                    alert("上传成功");
                    $("#PicturePath").val(data);
                    $("#img-upload").attr("src", "/Uploads/" + data);
                }
            },
            error: function () {
                alert("失败");
            }
        });
    }

    $("input[type='button']").on('click', function () {
        AddGoods();
    })

    function AddGoods() {

        var Name = $("input[name='Name']");
        var Price = $("input[name='Price']");
        var OriginalPrice = $("input[name='OriginalPrice']");
        var ExchangeCredit = $("input[name='ExchangeCredit']");
        var Description = $("textarea");
        var PicturePath = $("input[name='PicturePath']");
        var ServiceCount = $("input[name='ServiceCount']");

        categoryList.slice(0, categoryList.length);

        $("form").bootstrapValidator('validate');

        if ($('form').data('bootstrapValidator').isValid()) {

            if ($("input[type='checkbox']:checked").length <= 0) {
                alert("请选择商品分类");
                return;
            }
            else {
                $("input[type='checkbox']:checked").each(function () {
                    categoryList.push($(this).val());
                });
            }
            $.ajax({
                url: '/Goods/Add',
                type: 'POST',
                data: {
                    Name: Name.val(),
                    Price: Price.val(),
                    OriginalPrice: OriginalPrice.val(),
                    ExchangeCredit: ExchangeCredit.val(),
                    Description: Description.val(),
                    PicturePath: PicturePath.val(),
                    ServiceCount: ServiceCount.val(),
                    CategoryList: categoryList
                },
                success: function (data) {
                    if (data == "True") {
                        alert("添加成功");
                    }
                    else if (data == "EmptyModel") {
                        alert("参数提交错误，请重试");
                    }
                    else {
                        // return "False"
                        alert("添加失败");
                    }
                },
                error: function () {
                    alert("系统错误，添加失败");
                }
            });
        }
        else {
            console.log("something wrong");
        }
    }
</script>
<script>
    //$(document).ready(function () {
    //    $("#li-goodsAdd").parent().parent().removeClass("collapse");
    //})
</script>
