
@{
    ViewBag.Title = "购物车";
    Layout = "~/Views/LayoutPage.cshtml";
}

@using com.jiechengbao.wx.Models
<style>
    .mui-bar-nav {
        background-color: #FFFFFF;
    }

    .title-view {
        margin-top: 10px;
    }

    input[name='checkbox'] {
        width: 20px;
        height: 20px;
        margin-left: -20px;
        margin-top: 20px;
    }

    .content-table {
        padding-left: 35px;
    }

    .mui-numbox {
        height: 25px;
    }

        .mui-numbox button {
            width: 25px;
        }

    .money-div {
        margin-top: 10px;
    }

        .money-div .mui-left, .money-div small {
            color: red;
        }

    .mui-media-body {
        color: #000;
    }

    .button-view {
        margin-top: 10px;
    }
</style>
<ul class="mui-table-view title-view">
    <li class="mui-table-view-cell">
        商品列表
    </li>
</ul>
<ul id="OA_task_1" class="mui-table-view">
    @foreach (var item in ViewData["CartModelList"] as List<CartModel>)
    {
        <li class="mui-table-view-cell mui-media goods-li" id="li_@item.Code">
            <div class="mui-slider-right mui-disabled">
                <a class="mui-btn mui-btn-red" onclick="Delete('@item.Code','@item.Id')">删除</a>
            </div>
            <div class="mui-slider-handle">
                <div class="mui-input-row mui-checkbox mui-left content-table">
                    <a href="javascript:;">
                        <img class="mui-media-object mui-pull-left" src="/Uploads/@item.PicturePath">
                        <div class="mui-media-body">
                            @item.Name
                            <p class='mui-ellipsis'><small>@item.Description</small></p>
                            @if (item.ServiceCount > 0)
                            {
                                <p><small>服务次数:@item.ServiceCount</small></p>
                            }
                            <div class='mui-ellipsis money-div'>
                                <small>&#65509; <span class="mui-left singlePrice">@item.Price</span></small>
                                <span class="mui-right">
                                    <div class="mui-numbox" data-numbox-min='1' data-numbox-max='10'>
                                        <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
                                        <input class="mui-input-numbox itemCount" id="count_@item.Id" type="number" value="@item.Count" />
                                        <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </a>
                    <input name="checkbox" id="@item.Id" onclick="tickToOrder('@item.Id');" value="@item.Code" type="checkbox">
                </div>
            </div>
        </li>
    }
    @if ((ViewData["CartModelList"] as List<CartModel>).Count <= 0)
    {
        <li style="padding-top:10px;padding-bottom:10px;"><small><p style="color:#999;text-align:center;">没有商品在您的购物车上</p></small></li>
    }
</ul>
<ul class="mui-table-view button-view">
    <li class="mui-table-view-cell">
        <strong>合计: ￥<span id="totalPrice">0</span></strong>
        <button type="button" class="mui-btn mui-btn-danger" onclick="submitToOrder();">去结算</button>
    </li>
</ul>

<script type="text/javascript">

    var itemList = new Array();
    function tickToOrder(Id) {
        if ($('#' + Id).is(':checked')) {
            var data = new Object();
            data.Id = Id;
            data.Count = $('#count_' + Id).val();
            itemList.push(data);
			getTotalPrice();
        }
        else {
            for (var i = 0; i < itemList.length; i++) {
                if (itemList[i].Id == Id) {
                    itemList.splice(i, 1);
					getTotalPrice();
                }
            }
        }
    }

    $(document).ready(function () {
        $("input[type='checkbox']").each(function () {
            if ($(this).is(':checked')) {

                var data = new Object();
                data.Id = $(this).attr("Id");
                data.Count = $("#count_" + data.Id).val();

                itemList.push(data);
            }
        })
    });

    function getTotalPrice() {
        var currentTotalPrice = 0;
        $('.goods-li').each(function () {
           if ($("input[type='checkbox']").is(':checked'))
            {
                var singlePrice = $(this).find('.singlePrice').text();
                var count = $(this).find('.itemCount').val();
                currentTotalPrice += (Number(singlePrice) * Number(count));
				currentTotalPrice = currentTotalPrice.toFixed(2);
            }
        });

        $("#totalPrice").text(currentTotalPrice);
    }

    var countBox = $('.itemCount');
    countBox.on('change', function () {
        getTotalPrice();
        for (var i = 0; i < itemList.length; i++) {
            if (itemList[i].Id == $(this).attr("Id").substring(6)) {
                itemList[i].Count = $(this).val();
            }
        }
    });

    function submitToOrder() {
	 if (itemList.length <= 0) {
            mui.alert("没有选择任何商品，请至少选择一件商品再提交订单");
        }
        else {
        $.ajax({
            url: "/Order/WriteOrder",
            type: "POST",
            data: JSON.stringify(itemList),
            contentType: "application/json",
            success: function (data) {
                if (data == "NoAddress") {
                    // window.location.href = "/Address/Add";
                }
                else {
                    window.location.href = "/Order/Write";
                }
            },
            beforeSend: function () {
                $('.mask').show();
            },
            complete: function () {
                $('.mask').hide();
            },
            error: function () {
                mui.alert("生成订单失败");
            }
        });
		}
    }

    function Delete(goodsCode,Id) {
        $.ajax({
            url: "/Cart/Delete",
            data:{
                Code:goodsCode
            },
            type:"POST",
            success:function (data) {
                if (data == "True") {
                    mui.alert("删除成功");
                    for (var i = 0; i < itemList.length; i++) {
                        if (itemList[i].Id == Id) {
                            itemList.splice(i, 1);
                        }
                    }
                    $('#li_' + goodsCode).remove();
                    getTotalPrice();

                }
                else {
                    mui.alert("删除商品失败");
                }
            },
            error: function() {
                mui.alert("删除商品失败");
            }
        });
    }


    $(document).ready(function () {
        $("#atocart").addClass("mui-active");
    })
</script>
