@using com.jiechengbao.entity
<table class="table">
    <thead>
        <tr>
            <th>优惠券名称</th>
            <th>优惠券价值</th>
            <th>描述</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewData["FreeCouponList"] as IEnumerable<FreeCoupon>)
        {
            <tr id="@item.CouponCode">
                <td>@item.CouponName</td>
                <td>@item.Price</td>
                <td>@item.Description</td>
                <td>
                    <div class="mui-button-row">
                        <button class="btn btn-primary btn-edit" data-toggle="modal" data-target="#myModal" onclick="Edit('@item.CouponCode','@item.CouponName','@item.Price','@item.Description')">编辑</button>
                        <button class="btn btn-danger btn-delete" data-toggle="modal" data-target="#deleteModel" onclick="Delete('@item.CouponCode')" >删除</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    // 点击编辑按钮  传入 分类编号 分类名 和 服务是否
    // 赋值到模态框中同时  把模态框中的 题头设为 编辑分类信息
    // 并且修改保存按钮的 onclick 事件
    function Edit(code, name, price, desc) {
        $("input[name='FreeCouponName']").val(name);
        $("input[name='FreeCouponCode']").val(code);
        $("input[name='Price']").val(price);
        $("textarea[name='Description']").val(desc);

        $(".modal-title").html("编辑优惠券信息");
        $(".btn-Save").attr("onclick", "Save()");
    }

    function Save() {
        var code = $("input[name='FreeCouponCode']");
        var freeCouponName = $("input[name='FreeCouponName']");
        var des = $("textarea[name='Description']");
        var price = $("input[name='Price']");

        //// 进行表单验证
        $("form").bootstrapValidator('validate');

        // 如果通过验证则
        if ($('form').data('bootstrapValidator').isValid()) {
            $.ajax({
                url: "/FreeCoupon/Update",
                type: "POST",
                data: {
                    CouponCode: code.val(),
                    CouponName: freeCouponName.val(),
                    Description:des.val(),
                    Price: price.val()
                },
                success: function (data) {
                    if (data == "False") {
                        alert("更新失败");
                    }
                    else {
                        alert("更新成功");
                        $("#" + data.code).children().eq(0).html(data.name);
                        $("#" + data.code).children().eq(1).html(data.price);
                        $("#" + data.code).children().eq(2).html(data.desc);
                        $("#" + data.code).children().eq(3).find(".btn-edit").attr("onclick", "Edit('" + data.code + "','" + data.name + "','" + data.price + "','"+data.desc+"')");
                    }
                },
                error: function () {
                    alert("系统错误，保存失败，请重试");
                }
            });
        }
    }

    //$(".btn-delete").on('click', function () {

    //    var code = $(this).parent().parent().parent().attr("id");

    //    console.log(code);
    //    $(".btn-delete").confirm({
    //        title: "删除优惠券",
    //        text: "是否确定删除该优惠券?",
    //        confirm: function (button) {
    //            $.ajax({
    //                url: "/FreeCoupon/Delete",
    //                type: "POST",
    //                data: {
    //                    freeCouponCode: code
    //                },
    //                success: function (data) {
    //                    if (data == "False") {
    //                        alert("删除失败");
    //                    }
    //                    else {
    //                        alert("删除成功");
    //                        $("#" + code).remove();
    //                    }
    //                },
    //                error: function () {
    //                    alert("系统错误， 删除失败");
    //                }
    //            });
    //        },
    //        confirmButton: "确认删除",
    //        cancelButton: "取消"
    //    });
    //})

    function Delete(code) {
        $(".btn-confirm").attr("onclick", "ConfirmDelete('" + code + "')");
    }

    function ConfirmDelete(code) {
        $.ajax({
            url: "/FreeCoupon/Delete",
            type: "POST",
            data: {
                freeCouponCode: code
            },
            success: function (data) {
                if (data == "False") {
                    alert("删除失败");
                }
                else {
                    alert("删除成功");
                    $("#" + code).remove();
                    $("#deleteModel").modal('toggle');
                }
            },
            error: function () {
                alert("系统错误， 删除失败");
            }
        });
    }

    function Add() {
        $(".modal-title").html("添加新优惠券");
        $("input[name='FreeCouponName']").val("");
        $("input[name='Price']").val("");
        $("textarea[name='Description']").val("");

        $(".btn-Save").attr("onclick", "AddFreeCoupon()");
    }

    function AddFreeCoupon() {
        $('form').bootstrapValidator("validate");
        if ($('form').data('bootstrapValidator').isValid()) {
            var freeCouponName = $("input[name='FreeCouponName']").val();
            var price = $("input[name='Price']").val();
            var desc = $("textarea[name='Description']").val();

            $.ajax({
                url: "/FreeCoupon/Add",
                type: "POST",
                data: {
                    CouponName: freeCouponName,
                    Price: price,
                    Description: desc
                },
                success: function (data) {
                    if (data == "False") {
                        alert("添加失败");
                    }
                    else if (data == "True") {
                        alert("添加成功");
                        window.location.reload();
                    }
                    else if (data == "NullObject") {
                        alert("空对象，添加失败");
                    }
                    else if (data == "ExistObject") {
                        alert("添加失败，已经存在同名的优惠券");
                    }
                    else {
                        alert("系统错误，添加失败"); 
                    }
                },
                error: function () {
                    alert("系统错误, 添加失败");
                }
            });
        }
    }
</script>