
@{
    ViewBag.Title = "List";
    Layout = "~/Views/LayoutPage.cshtml";
}
@using com.jiechengbao.entity
<div class="container">
    <label>注册用户的数量</label>
    <table class="table table-striped table-hover table-expandable table-bordered">
        <thead>
            <tr>
                <th>用户昵称</th>
                <th>用户手机</th>
                <th>注册时间</th>
                <th>VIP等级</th>
                <th>当前余额</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewData["MemberList"] as IEnumerable<Member>)
            {
                <tr>
                    <td><img src="@item.HeadImage" />@item.NickeName</td>
                    <td>@item.Phone</td>
                    <td>@item.CreatedTime</td>
                    <td>@item.Vip</td>
                    <td>@item.Assets</td>
                </tr>
            }
        </tbody>
    </table>
</div>