
@{
    ViewBag.Title = "List";
    Layout = "~/Views/LayoutPage.cshtml";
}
@using com.jiechengbao.entity

<div class="navbar navbar-options">
    <div class="container">
        <form class="navbar-form navbar-left" method="post" action="/Member/List" role="search">
            <div class="form-group">
                <input type="text" name="condition" class="form-control" placeholder="搜索">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
        </form>
    </div>
</div>

<div class="container">
    <label>注册用户的数量</label>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>用户昵称</th>
                <th>用户手机</th>
                <th>注册时间</th>
                <th>VIP等级</th>
                @*<th>当前余额</th>*@
                <th></th>
                <th>当前积分</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewData["MemberList"] as IEnumerable<Member>)
            {
                <tr>
                    <td><img src="@item.HeadImage" />@item.NickeName</td>
                    <td>@item.Phone</td>
                    <td>@item.CreatedTime</td>
                    <td>@item.Vip</td>
                    @*<td>@item.Assets</td>*@
                    <td>@item.Credit</td>
                </tr>
            }
            @if (ViewBag.Member != null)
            {
                Member member = ViewBag.Member as Member;
                <tr>
                    <td><img src="@member.HeadImage" />@member.NickeName</td>
                    <td>@member.Phone</td>
                    <td>@member.CreatedTime</td>

                    <td>@member.Vip</td>
                    @* 新的积分系统没有余额 所以。。 *@
                    @*<td>@member.Assets</td>*@
                    <td>@member.Credit</td>
                </tr>
            }
        </tbody>
    </table>
</div>