
@{
    ViewBag.Title = "VIPSetting";
    Layout = "~/Views/LayoutPage.cshtml";
}
@using com.jiechengbao.entity
@using com.jiechengbao.admin.Models
@model List<VIPModel>
<script src="~/Content/js/json2.js"></script>
<script src="~/Content/js/json_parse.js"></script>
<link href="~/Content/css/content.css" rel="stylesheet" />
<style>
    .vip-group {
        margin-top: 10px;
    }
    .span-vip{
        background:#337ab7;
        color:#fff;
        border:#fff;
        }
    .span-credit{
        background:#449d44;
        color:#fff;
        border:#fff;
    }
    .span-discount{
        background:#ec971f;
        color:#fff;
        border:#fff;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/">管理后台</a></li>
            <li class="active">VIP设置</li>
        </ol>

        <div class="container-fluid">
            <div class="col-md-12 div-title">
                <ol class="breadcrumb">
                    <li>VIP设定项</li>
                </ol>
            </div>

            <form id="vip-form" method="post" action="/Member/VIPSetting" name="vipList">
                @{
                    List<Rules> rulesList = ViewData["RulesList"] as List<Rules>;
                    for (int i = 0; i < rulesList.Count; i++)
                    {
                        <div class="form-group vip-group">
                            <div class="input-group">
                                <span class="input-group-addon span-vip" id="basic-addon1">VIP @rulesList[i].VIP</span>
                                <input type="hidden" name="VIP" value="@rulesList[i].VIP" />
                                <span class="input-group-addon span-credit" id="basic-addon1">累计积分</span>
                                <input type="text" class="form-control" placeholder="所需积分" name="TotalCredit" value="@rulesList[i].TotalCredit" aria-describedby="basic-addon1">
                                <span class="input-group-addon span-discount" id="basic-addon1">折扣</span>
                                <input type="text" class="form-control" placeholder="折扣" name="Discount" value="@rulesList[i].Discount" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    }
                    <div class="form-group vip-group">

                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <button type="button" class="btn btn-primary" onclick="AddInputGroup();">添加</button>

                        </div>
                        <div class="input-group" style="margin-top:10px;">
                            <button type="button" onclick="Save();" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                }
            </form>
        </div>
    </div>
</div>
@*<div class="container container-add-followitem">
    
</div>*@

<script>
    var count = @rulesList.Count;

    function AddInputGroup() {
        count += 1;
        var group = $(".vip-group");
        $(group[group.length - 1]).append("<div class=\"input-group\"><span class=\"input-group-addon span-vip\" id=\"basic-addon1\">VIP" + count + "</span><input type=\"hidden\" name=\"VIP\" value=\"" + count + "\"/><span class=\"input-group-addon span-credit\" id=\"basic-addon1\">累计积分</span><input type=\"text\" class=\"form-control\" placeholder=\"所需积分\" name=\"TotalCredit\" aria-describedby=\"basic-addon1\"><span class=\"input-group-addon span-discount\" id=\"basic-addon1\">折扣</span><input type=\"text\" class=\"form-control\" placeholder=\"折扣\" name=\"Discount\" aria-describedby=\"basic-addon1\"></div><div class=\"form-group vip-group\"></div>");
    }

    function Save() {
        var result = '{"hehe":['
        var arra = new Array();
        $(".vip-group").each(function() {
            arra.push($(this));
        })
        arra.pop();

        console.log(arra.length);

        for (var i = 0; i < arra.length; i++) {
            result += '{';
            result += '"VIP":"' + $(arra[i]).find("input[name='VIP']").val() + '",';
            result += '"TotalCredit":"' + $(arra[i]).find("input[name='TotalCredit']").val() + '",';
            result += '"Discount":"' + $(arra[i]).find("input[name='Discount']").val() + '"},';
        }
        result = result.substring(0, result.length - 1);
        result += ']}';
        console.log(result);

        $.ajax({
            url: "/Member/SaveVIPSetting",
            type: "POST",
            data: result,
            success: function (data) {
                if (data == "True") {
                    alert("设置成功");
                    window.location.href = "/Member/VIPSetting";
                }
                else if(data == "CountError"){
                    alert("新设置的vip等级数量不能少于之前的数量, 请重新设置");
                }
                else {
                    alert("设置失败");
                }
            },
            error:function() {
                alert("页面提交失败");
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        $("#li-vip").addClass("a-active");
        $("#li-vip").parent().parent().removeClass("collapse");
    })
</script>