
@{
    ViewBag.Title = "订单详情";
    Layout = "~/Views/LayoutPage.cshtml";
}
@using com.jiechengbao.entity
@using com.jiechengbao.wx.Models
<style>
    body html {
        background-color: #FFFFFF;
    }

    .div-content {
        background-color: #FFFFFF;
    }

    .mui-bar-nav {
        background-color: #FFFFFF;
    }

    .address-cell {
        margin-top: 5px;
    }

    .address-view {
        margin-top: 10px;
    }

    .goods-view {
        border: none !important;
    }

    .goods-cell {
        border: none !important;
        padding-top: 0px;
    }

    .goods-ul {
        margin-top: 10px;
    }

    .mui-media-body {
        border: none !important;
    }

    .mui-table-view-cell a {
        border: none !important;
        padding-bottom: 0px !important;
    }

    .mui-table-cell {
        border: none;
    }

    .money-ul {
        margin-top: 10px;
    }

    .payway-ul {
        margin-top: 10px;
        padding-bottom: 10px;
    }

        .payway-ul li a span {
            color: #999;
        }

    .time-cell {
        color: #AEAEB1;
    }

    .mui-btn-block {
        padding: 10px;
        font-size: 15px;
        margin-top: 10px;
    }
</style>
@{
    List<OrderDetailModel> odmList = ViewData["OrderDetailModelList"] as List<OrderDetailModel>;
    // 没有配送功能  去掉地址
    //AddressModel address = ViewData["Address"] as AddressModel;
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">订单: @ViewBag.OrderNo<span class="mui-badge mui-badge-danger">@ViewBag.Status</span></li>
    </ul>

    // 省事  整个配送地址都没了

    @*<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed address-view">
        <li class="mui-table-view-cell">
            <div class="mui-table name-cell">
                <div class="mui-table-cell mui-col-xs-8">
                    <h4 class="mui-ellipsis">@address.Consignee</h4>
                </div>
                <div class="mui-table-cell mui-col-xs-4 mui-text-right">
                    <span class="mui-h5">@address.Phone</span>
                </div>
            </div>
            <div class="mui-table address-cell">
                <div class="mui-table-cell mui-col-xs-12">
                    <p class="mui-h6 mui-ellipsis"><i class="mui-icon mui-icon-location"></i>@address.Province @address.City @address.County @address.Detail</p>
                </div>
            </div>
        </li>
    </ul>*@


    <ul class="mui-table-view goods-ul">
        <li class="mui-table-view-cell">
            <small>订单号:@ViewBag.OrderNo</small>
        </li>
        @foreach (var item in odmList)
        {
            <li class="mui-table-view-cell mui-media">
                <a href="javascript:;">
                    <img class="mui-media-object mui-pull-left" src="/Uploads/@item.PicturePath">
                    <div class="mui-media-body">
                        <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed goods-view">
                            <li class="mui-table-view-cell goods-cell">
                                <div class="mui-table name-cell">
                                    <div class="mui-table-cell mui-col-xs-8">
                                        <p class="mui-ellipsis">@item.GoodsName</p>
                                    </div>
                                    <div class="mui-table-cell mui-col-xs-4 mui-text-right">
                                        <span class="mui-h5">￥@item.CurrentPrice</span>
                                    </div>
                                </div>
                                <div class="mui-table address-cell">
                                    <div class="mui-table-cell mui-col-xs-12">
                                        <p class="mui-h6 mui-ellipsis">数量x @item.Count</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
        }
    </ul>
    <ul class="mui-table-view payway-ul">
        <li class="mui-table-view-cell">
            <a>支付方式<span class="mui-pull-right">@ViewBag.PayWay</span></a>
        </li>
    </ul>

    // 当然也没有了配送状态

    @*<ul class="mui-table-view payway-ul">
        <li class="mui-table-view-cell li-orderstatus">
            @if (int.Parse(ViewBag.Logistical.ToString()) == 0)
            {
                <a>配送状态<span class="mui-pull-right">未发货</span></a>
            }
            else if (int.Parse(ViewBag.Logistical.ToSring()) == 1)
            {
                <a>配送状态<span class="mui-pull-right">已发货<button class="mui-btn mui-btn-danger btn-check">确认收货</button></span></a>
            }
            else
            {
                <a>配送状态<span class="mui-pull-right">已收货</span></a>
            }
        </li>
    </ul>*@
    <ul class="mui-table-view money-ul">
        <li class="mui-table-view-cell">商品总额<span class="mui-badge mui-badge-danger">￥@ViewBag.TotalPrice</span></li>
        <li class="mui-table-view-cell">
            实付款 <span class="mui-badge mui-badge-danger">￥@ViewBag.TotalPrice</span>
        </li>
        <li class="mui-table-view-cell time-cell"><small>下单时间: @ViewBag.CreateTime</small></li>
    </ul>

    if (ViewBag.OrderStatus == 0)
    {
        <button type="button" class="mui-btn mui-btn-danger mui-btn-block" onclick="ContinuePay('@ViewBag.OrderNo');">提交订单</button>
    }
}
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script>
    function ContinuePay(OrderNo) {
        $.ajax({
            url: "/Order/ContinuePay",
            type: "POST",
            data: { orderNo: OrderNo },
            success: function (data) {
                if (data == "False") {
                    mui.alert("支付失败");
                }
                else {
                    if (data.payway == 0) {
                        alert("/Pay/WxPay?totalprice=1&orderNo=" + data.orderNo + "&ip=" + returnCitySN["cip"]);
                        window.location.href = "/Pay/WxPay?totalprice=" +@ViewBag.TotalPrice +"&orderNo=" + data.orderNo + "&ip=" + returnCitySN["cip"];
                    }
                    else {
                        window.location.href = "/Pay/BalancePay?orderNo=" + data.orderNo;
                    }
                }
            }

        })
    }

    $('.btn-check').on('click', function () {
        $.ajax({
            url: "/Order/Shipping",
            type: "POST",
            data: {
                orderNo: '@ViewBag.OrderNo'
            },
            success: function (data) {
                if (data == "True") {
                    $('.li-orderstatus .mui-pull-right').html("已收货");
                }
                else {
                    mui.alert("修改订单状态失败");
                }
            },
            error: function() {
                mui.alert("系统错误");
            },
            beforeSend: function () {
                $('.mask').show();
            },
            complete: function() {
                $('.mask').hide();
            }
        })
    })

    $(document).ready(function () {
        $("#atoorder").addClass("mui-active");
    })
</script>