
@{
    Layout = null;
}
@using com.jiechengbao.entity
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>优惠券领取</title>
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/QiuToast.js"></script>
    <link href="~/Content/css/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/css/QiuToast.css" rel="stylesheet" />

    @*<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/css/couponCSS.css" rel="stylesheet" />
        <link href="~/Content/css/fontawesome.css" rel="stylesheet" />
        <script src="~/Content/js/jquery.min.js"></script>
        <script src="~/Content/js/bootstrap.min.js"></script>*@
    @*<style>
            .title{
                text-align:center;
                position:relative;
                top:150px;
            }
            .list-group-item h2{
                text-align:center;
                margin: 10px 0px;
            }
        </style>*@

    <style>
        @@font-face {
            font-family: "幼圆";
            src: url('~/Content/font/asd.TTF');
        }

        body {
            padding: 0px;
            margin: 0px;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            font-family: "幼圆";
        }

        .card {
            background: #FF6947;
            width: 96%;
            height: auto;
            position: relative;
            margin: 5px 2% 0px;
            text-align: center;
            padding-bottom: 20px;
        }

        .back {
            position: absolute;
            top: -15px;
            left: -20px;
            border: 4px solid #fff;
            -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
            color: #fff;
            border-radius: 50%;
            font-size: 90px;
            text-shadow: 0px 0px 5px #fff;
            opacity: 0.2;
            font-family: "黑体";
            width: 120px;
            height: 120px;
            text-align: center;
            padding: 0px;
        }

        .card > p {
            margin: 0px;
            padding: 20px 0px;
        }

            .card > p > span:first-child {
                color: yellow;
                font-size: 36px;
                font-family: "幼圆";
                white-space: pre;
                position: relative;
                top: 4px;
                left: -5px;
            }

        b {
            position: relative;
            left: 6px;
        }

        .card > p > span:first-child > small {
            position: relative;
            top: -2px;
        }

        .card > p > span:last-child {
            color: #FFF;
            font-size: 48px;
        }

        .card > span:last-child {
            padding: 5px 30px;
            background: yellow;
            color: #FF6947;
            border-radius: 5px;
            text-align: center;
            font-size: 24px;
            margin: 20px auto;
        }
    </style>
</head>
<body>
    @if (ViewData["CouponList"] == null || (ViewData["CouponList"] as IEnumerable<FreeCoupon>).Count() <= 0)
    {
        <p class="title">暂无活动...</p>
    }
    else
    {
        foreach (var item in ViewData["CouponList"] as IEnumerable<FreeCoupon>)
        {
            <div class="card" id="@item.CouponCode">
                <p><span><b>￥</b>@item.Price<small><small>元</small></small></span><span>@item.CouponName</span></p>
                <div class="back">券</div>
                <span>点击免费领取</span>
            </div>
        }
        <div class="fresh" hidden>
            <span class="icon-refresh"></span>
        </div>
    }

    <div class="special-blank">
        <h1 class="icon-ok"></h1>
        <div class="small-circle">
        </div>
        <div class="small-circle">
        </div>
        <div class="small-circle">
        </div>
        <p>领取成功</p>
    </div>
    <script>
        $(".card").click(function () {
            var code = $(this).attr("id");

            $.ajax({
                url: "/FreeCoupon/PickUp",
                type: "POST",
                data: {
                    Code: code
                },
                success: function (data) {
                    if (data.code == false) {
                        alert(data.msg);
                    }
                    else if (data.code == true) {
                        window.setInterval(function () {
                            QiuToast();
                        }, 3000);
                        window.location.href = "/FreeCoupon/MyFreeCouponList";
                    }
                    else if (data.code == "Reg") {
                        window.location.href = "/Register/Register?refUrl=/FreeCoupon/CouponList";
                    }
                },
                error: function () {
                    alert("系统错误, 领取失败");
                },
                beforeSend: function () {
                    $(".btn").unbind("click");
                    $(".fresh").show();
                },
                complete: function () {
                    $(".btn").bind("click");
                    $(".fresh").hide();
                }
            });
        });
        //$(".card").on('onclick', function () {

        //})
    </script>

    @*<div class="container">
            <div class="list-group">
                @if (ViewData["CouponList"] == null || (ViewData["CouponList"] as IEnumerable<FreeCoupon>).Count() <= 0)
                {
                    <p class="title">暂无活动...</p>
                }
                else
                {
                    foreach (var item in ViewData["CouponList"] as IEnumerable<FreeCoupon>)
                    {

                        <a href="javascript:;" class="list-group-item">
                            <p class="list-group-item-heading">@item.CouponName</p>
                            <h2 class="list-group-item-text p-description">@item.Description</h2>
                            @*<p class="list-group-item-text p-price">价值 ￥@item.Price</p>
                            <p class="p-button">
                                <input type="button" class="btn btn-pick" onclick="pickup('@item.CouponCode')" value="点击领取">
                            </p>
                        </a>
                    }
                }
                <div class="fresh" hidden>
                    <span class="icon-refresh"></span>
                </div>
            </div>
        </div>

        <script>
            function pickup(code) {
                // alert(code);
                $.ajax({
                    url: "/FreeCoupon/PickUp",
                    type: "POST",
                    data: {
                        Code: code
                    },
                    success: function (data) {
                        if (data.code == false) {
                            alert(data.msg);
                        }
                        else if (data.code == true) {
                            alert(data.msg);
                            window.location.href = "/FreeCoupon/MyFreeCouponList";
                        }
                        else if (data.code == "Reg") {
                            window.location.href = "/Register/Register?refUrl=/FreeCoupon/CouponList";
                        }
                    },
                    error: function () {
                        alert("系统错误, 领取失败");
                    },
                    beforeSend: function () {
                        $(".btn").unbind("click");
                        $(".fresh").show();
                    },
                    complete: function () {
                        $(".btn").bind("click");
                        $(".fresh").hide();
                    }
                });

            }
        </script>*@
</body>
</html>
