@using com.jiechengbao.entity
<style>
        th {
        font-family:"微软雅黑";
    }
</style>
<table class="table service_table">
    <thead>
        <tr>
            <th></th>
            <th>服务项名称</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < (ViewData["AppointmentServiceList"] as IEnumerable<AppointmentService>).Count(); i++)
        {
            <tr>
                <td><input type="radio" name="radio_service" value="@((ViewData["AppointmentServiceList"] as IEnumerable<AppointmentService>).ElementAt(i).Code)"></td>
                <td>@((ViewData["AppointmentServiceList"] as IEnumerable<AppointmentService>).ElementAt(i).Name)</td>
            </tr>
        }
    </tbody>
</table>
<!--
@*@using com.jiechengbao.entity

<style>
    .container-add-followitem {
        padding-left: 0px;
    }
    .btn-service{
        padding-left:0px;
    }
    #follow-form {
        padding-left:0px;
    }
    .div-title{
        margin-top:20px;
    }
</style>
<div class="container-fluid">
    <div class="col-md-12 div-title">
        <ol class="breadcrumb">
            <li>预约服务项</li>
        </ol>
    </div>
    <div class="container-fluid">
        @if (ViewData["AppointmentServiceList"] == null || (ViewData["AppointmentServiceList"] as IEnumerable<AppointmentService>).Count()<=0)
        {
            <div class="title">暂无预约服务项</div>
        }
        else
        {
            foreach (var item in ViewData["AppointmentServiceList"] as IEnumerable<AppointmentService>)
            {
                <div class="btn-service col-lg-2" id="@item.Code">
                    <div class="input-group">
                        <input type="text" class="form-control" value="@item.Name" disabled>
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button" onclick="DeleteService('@item.Code')">删除</button>
                        </span>
                    </div>
                </div>
            }
        }
    </div>
</div>
<div class="container-fluid">
    <div class="col-md-12 div-title">
        <ol class="breadcrumb">
            <li>添加预约服务项</li>
        </ol>
        <div class="container-fluid">
            <form id="follow-form" class="col-lg-2">
                <div class="form-group">
                    <input type="text" name="serviceItem" class="form-control" required data-bv-notempty-message="不能为空"><span id="error-message"></span>
                </div>
                <button type="button" class="btn btn-primary" onclick="AddService();">添加</button>
            </form>
        </div>
    </div>
</div>
<script>
    function AddService() {
        $.ajax({
            url: "/Appointment/AddService",
            type: "POST",
            data: {
                serviceName: $("input[name='serviceItem']").val()
            },
            success: function (data) {
                if (data == "False") {
                    alert("添加服务项错误");
                }
                else if (data == "ExistName") {
                    alert("相同的服务名，添加服务失败");
                } else {
                    $('.row-serviceName').append("<div class=\"col-lg-2\" id='" + data.Code + "'><div class=\"input-group\"><input type=\"text\" class=\"form-control\" value='" + data.Name + "' disabled><span class=\"input-group-btn\"><button class=\"btn btn-danger\" type=\"button\" onclick=\"Delete('" + data.Code + "')\">删除</button></span></div></div>");
                }
            },
            error: function () {
                alert("系统错误，添加无服务项失败");
            }
        })
    }

    function DeleteService(Code) {
        $.ajax({
            url: "/Appointment/DeleteService",
            type: "POST",
            data: {
                Code: Code
            },
            success: function (data) {
                if (data == "True") {
                    $('#' + Code).remove();
                }
                else {
                    alert("删除服务失败");
                }
            },
            error: function () {
                alert("系统错误，删除服务失败");
            }
        })
    }

</script>*@
-->
