
@{
    Layout = "~/Views/LayoutPage.cshtml";
}

@using com.jiechengbao.admin.Models
@*<link href="~/Content/css/content.css" rel="stylesheet" />*@

<style>
    th {
        font-family: "微软雅黑";
    }

    .msg {
        text-align: center;
    }

    .over {
        max-height: 580px;
        overflow: auto;
        position: relative;
        left: 14px;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/Home/Index">管理后台</a></li>
    <li class="active">未完成预约列表</li>
</ol>
<div class="container-fluid">
    <form class="navbar-form navbar-left" method="post" action="/Appointment/NotPayAppointment" role="search">
        <div class="form-group">
            <input type="text" class="form-control" name="name" value="" placeholder="会员昵称" />
        </div>
        <button type="submit" class="btn btn-danger">搜索</button>
    </form>
</div>
<div class="container-fluid">
    <div class="col-md-12 title list">
        未完成预约单
    </div>
</div>

<div class="container-fluid over">
    @{
        if (ViewData["NOPayAppointmentList"] != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>会员</th>
                        <th>车牌号</th>
                        <th>车型信息</th>
                        <th>预约服务列表</th>
                        <th>预约时间</th>
                        <th>问题补充</th>
                        <th>支付金额</th>
                        <th>备注</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewData["NOPayAppointmentList"] as IEnumerable<MyAppointmentModel>)
                    {
                        <tr id="@item.MyAppointmentId">
                            <td><img src="@item.HeadImage" />@item.NickName</td>
                            <td>@item.CarNumber</td>
                            <td>@item.CarInfo</td>
                            <td>
                                <small>
                                    @foreach (var appName in item.AppointmentNameList)
                                    {
                                        @(appName + ",")
                                    }
                                </small>
                            </td>
                            <td>@item.AppointmentTime</td>
                            <td>
                                <small>@item.Supplement</small>
                            </td>
                            <td id="@item.MyAppointmentId">
                                <div class="input-group">
                                    <input type="text" name="Price" class="test form-control" placeholder="价钱" value="">
                                </div>
                            </td>
                            <td id="note_@item.MyAppointmentId">
                                <div class="input-group">
                                    <input type="text" name="Notes" class="test form-control" placeholder="备注" value="">
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-danger" type="button" onclick="Pay('@item.MyAppointmentId');">确认付款</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="msg">暂无未支付的预约单</div>
        }
    }
</div>

<script>
    function Pay(Id) {
        $.ajax({
            url: "/Appointment/Pay",
            type: "POST",
            data: {
                Id: Id,
                Price: $("input[name='Price']").val(),
                Notes: $("input[name='Notes']").val()
            },
            success: function (data) {
                if (data == "False") {
                    alert("更改数据失败");
                }
                else {
                    $('#' + Id).text(data.Price);
                    $('#note_' + Id).text(data.Notes);

                    var appointment = $("#" + Id);
                    appointment.remove();
                }
            },
            error: function () {
                alert("系统错误，更改数据失败");
            }
        })
    }
</script>
