
@{
    Layout = "~/Views/LayoutPage.cshtml";
}

@using com.jiechengbao.admin.Models
<div class="navbar navbar-options">
    <div class="container">
        <form class="navbar-form navbar-left" method="post" action="/Appointment/NoPayAppointment" role="search">
            <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="会员昵称">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
        </form>
    </div>
</div>
<div class="container">
    <label>未完成支付的预约单</label>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>会员</th>
                <th>车牌号</th>
                <th>车型信息</th>
                <th>预约服务列表</th>
                <th>预约时间</th>
                <th>支付金额</th>
                <th>问题描述</th>
                <th>问题补充</th>
                <th>备注</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewData["NOPayAppointmentList"] as IEnumerable<MyAppointmentModel>)
            {
                <tr>
                    <td><img src="@item.HeadImage" />@item.NickName</td>
                    <td>@item.CarNumber</td>
                    <td>@item.CarInfo</td>
                    <td>
                        @foreach (var appName in item.AppointmentNameList)
                        {
                            Html.Raw(appName + ",");
                        }
                    </td>
                    <td>@item.AppointmentTime</td>
                    <td id="@item.MyAppointmentId">
                        <div class="input-group">
                            <input type="text" name="Price" class="form-control" placeholder="价钱" value="">
                        </div>
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>@item.Supplement</td>
                    <td id="note_@item.MyAppointmentId">
                        <div class="input-group">
                            <input type="text" name="Notes" class="form-control" placeholder="备注。。。" value="">
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-default" type="button" onclick="Pay('@item.MyAppointmentId');">确认付款</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function Pay(Id) {
        $.ajax({
            url: "/Appointment/Pay",
            type: "POST",
            data: {
                Id: Id,
                Price: $("input[name='Price']").val(),
                Notes: $("input[name='Notes']").val()
            },
            success: function (data) {
                if (data == "False") {
                    alert("更改数据失败");
                }
                else {
                    $('#' + Id).text(data.Price);
                    $('#note_' + Id).text(data.Notes);
                }
            },
            error: function () {
                alert("系统错误，更改数据失败");
            }
        })
    }
</script>