
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/LayoutPage2.cshtml";
}
@model com.jiechengbao.entity.Car
<style>
    .mui-btn-block {
        padding: 10px;
        font-size: 15px;
        margin-top: 10px;
        margin-left:20px;
        margin-right:20px;
    }
    .title {
        margin: 20px 15px 10px;
        color: #6d6d72;
        font-size: 15px;
    }
</style>
<ul class="mui-table-view mui-card">
    <li class="mui-table-view-cell">
        车牌号
        <input type="text" name="Numberplate" value="@Model.Numberplate" />
        <input type="hidden" name="CarId" value="@Model.Id" />
    </li>
    <li class="mui-table-view-cell">
        车架号
        <input type="text" name="ChassisNumber" value="@Model.ChassisNumber" />
    </li>
    <li class="mui-table-view-cell">
        发动机号
        <input type="text" name="EngineNumber" value="@Model.EngineNumber" />
    </li>
    <li class="mui-table-view-cell">
        其他信息
        <input type="text" name="CarDetailInfo" value="@Model.CarDetailInfo" />
    </li>
    <li>
        <button type="button" class="mui-btn mui-btn-danger mui-btn-block" onclick="Delete();">删除</button>
        <button type="button" class="mui-btn mui-btn-danger mui-btn-block" onclick="Save();">修改并保存</button>
    </li>

</ul>


<script>
    function Save() {
        $.ajax({
            url: "/Car/Update",
            type: "POST",
            data: {
                CarId: $("input[name='CarId']").val(),
                Numberplate: $("input[name='Numberplate']").val(),
                ChassisNumber: $("input[name='ChassisNumber']").val(),
                EngineNumber: $("input[name='EngineNumber']").val(),
                CarDetailInfo: $("input[name='CarDetailInfo']").val()
            },
            success: function(data) {
                if (data == "True") {
                    mui.alert("保存修改成功");
                }
                else {
                    mui.alert("保存修改失败");
                }
            },
            error: function () {
                mui.alert("系统错误,保存失败");
            }
        })
    }

    function Delete() {
        var carId = $("input[name='CarId']").val();

        $.ajax({
            url: "/Car/Delete",
            type: "POST",
            data: {
                carId:carId
            },
            success: function(data) {
                if (data == "True") {
                    mui.alert("删除成功");
                    window.location.href = "/Car/List";
                }
                else {
                    mui.alert("删除失败");
                }
            },
            error: function () {
                mui.alert("ERROR");
            }
        })
    }
</script>