@using com.jiechengbao.entity
<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>分类名称</th>
            <th>是否为服务</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewData["CategoryList"] as IEnumerable<Category>)
        {
            <tr id="@item.CategoryNO">
                <td>@item.Name</td>

                @if (item.IsService)
                {
                    <td>是</td>
                    <td>
                        <div class="mui-button-row">
                            <button class="btn btn-primary btn-edit" data-toggle="modal" data-target="#myModal" onclick="Edit('@item.CategoryNO','@item.Name',true)">编辑</button>
                            <button type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#deleteModel" onclick="Delete('@item.CategoryNO')">删除</button>
                        </div>
                    </td>
                }
                else
                {
                    <td>否</td>
                    <td>
                        <div class="mui-button-row">
                            <button class="btn btn-primary btn-edit" data-toggle="modal" data-target="#myModal" onclick="Edit('@item.CategoryNO','@item.Name',false)">编辑</button>
                            <button type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#deleteModel" onclick="Delete('@item.CategoryNO')">删除</button>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<script>

    // 点击编辑按钮  传入 分类编号 分类名 和 服务是否
    // 赋值到模态框中同时  把模态框中的 题头设为 编辑分类信息
    // 并且修改保存按钮的 onclick 事件
    function Edit(code, name, isService) {
        $("input[name='CategoryName']").val(name);
        $("input[name='Code']").val(code);

        if (isService == true) {
            $("input[type='checkbox']").attr("checked", true);
        }
        else {
            $("input[type='checkbox']").attr("checked", false);
        }

        $(".modal-title").html("编辑分类信息");
        $(".btn-Save").attr("onclick", "Save()");
    }

    function Save() {
        var code = $("input[name='Code']");
        var category = $("input[name='CategoryName']");
        var isService;
        if ($("input[name='IsService']").is(":checked")) {
            isService = true;
        }
        else {
            isService = false;
        }
        console.log(isService);
        //// 进行表单验证
        $("form").bootstrapValidator('validate');

        // 如果通过验证则
        if ($('form').data('bootstrapValidator').isValid()) {
            $.ajax({
                url: "/Category/Update",
                type: "POST",
                data: {
                    categoryNO: code.val(),
                    categoryName: category.val(),
                    isService: isService
                },
                success: function (data) {
                    if (data == "False") {
                        alert("更新失败");
                    }
                    else {
                        alert("更新成功");
                        $("#" + data.code).children().eq(0).html(data.name);
                        if (data.isService == true) {
                            $("#" + data.code).children().eq(1).html("是");
                            $("#" + data.code).children().eq(2).find(".btn-edit").attr("onclick", "Edit('" + data.code + "','" + data.name + "',true)");
                        }
                        else {
                            $("#" + data.code).children().eq(1).html("否");
                            $("#" + data.code).children().eq(2).find(".btn-edit").attr("onclick", "Edit('" + data.code + "','" + data.name + "',false)");
                        }
                    }
                },
                error: function () {
                    alert("系统错误，保存失败，请重试");
                }
            });
        }
    }

    function Delete(code) {
        $(".btn-confirm").attr("onclick", "ConfirmDelete('" + code + "')");
    }

    function ConfirmDelete(code) {
        $.ajax({
            url: "/Category/Delete",
            type: "POST",
            data: {
                categoryNO: code
            },
            success: function (data) {
                if (data == false) {
                    alert("删除失败");
                }
                else {
                    alert("删除成功");
                    $("#" + code).remove();
                    $("#deleteModel").modal('toggle');
                }
            },
            error: function () {
                alert("系统错误， 删除失败");
            }
        });
    }

    function Add() {
        $(".modal-title").html("添加新分类");
        $("input[name='CategoryName']").val("");
        $("input[name='IsService']").attr("checked", false);
        $(".btn-Save").attr("onclick", "AddCategory()");
    }

    function AddCategory() {
        $('form').bootstrapValidator("validate");
        if ($('form').data('bootstrapValidator').isValid()) {
            var categoryName = $("input[name='CategoryName']").val();
            var isSerivce = ($("input[name='IsService']").attr("checked") == true);
            $.ajax({
                url: "/Category/Add",
                type: "POST",
                data: {
                    CategoryName: categoryName,
                    IsSerivce: isSerivce
                },
                success: function (data) {

                    if (data == "False") {
                        alert("添加失败");
                    }
                    else if (data == "True") {
                        alert("添加成功");
                        window.location.reload();
                    }
                    else if (data == "NullObject") {
                        alert("空对象，添加失败");
                    }
                    else if (data == "ExistObject") {
                        alert("添加失败，已经存在同名的分类");
                    }
                    else {
                        alert("系统错误，添加失败");
                    }
                },
                error: function () {
                    alert("系统错误, 添加失败");
                }
            });
        }
    }
</script>